<!-- Login Card Section -->
<section class="card text-center">
  <div class="card-body">
    <!-- Card Title -->
    <h3 class="card-title">Login</h3>

    <!-- Login Form -->
    <form id="login">
      <!-- Username Field -->
      <div class="form-group">
        <label for="loginUsername">Username</label>
        <input type="text" id="loginUsername" placeholder="username">
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" placeholder="password">
      </div>

      <!-- Login and Signup Buttons -->
      <button>Login!</button><br>
      <a href="/signup">Signup instead</a>
    </form>
  </div>
</section>

<!-- JavaScript File -->
<script src="/js/login.js"></script>